<div class="flex flex-column ">
  <form [formGroup]="uploadForm" class="flex flex-column">
    
    <label for="">Name</label>
    <input  type="text" pInputText placeholder="Name" />
    <label for="" class="mt-5">Gender</label>
    <input
      
      type="text"
      pInputText
      placeholder="Gender"
    />
    <label class="mt-5" for="">Email</label>
    <input  type="text" pInputText placeholder="Email" />

    <p-fileUpload
    class="mt-5"
      mode="basic"
      name="file"
      (change)="onFileSelect($event)"
      
      chooseLabel="Upload Profile Picture"
    ></p-fileUpload>

    <p-dropdown
    class="my-5 "
      [options]="status"
      optionLabel="name"
      optionValue="value"
    ></p-dropdown>
  </form>
</div>

<button
class="w-full"
  pButton
  type="button"
  label="Update"
  (click)="update()"
  *ngIf="updating; else elseBlockButton"
></button>

<ng-template #elseBlockButton>
  <button class="w-full" pButton type="button" label="Create" (click)="save()"></button>
</ng-template>
<!-- 
<button
  pButton
  type="button"
  label="Cancel"
  [routerLink]="['/models']"
></button> -->

<!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
